################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/*.png
-**/*.svg
**/*.preproc
/InteractiveBorderSample/InteractiveC4_borderGreen.svg
